
@if (@Session["UsrName"] != null)
{
    <div style="color:white">
        Hello, @Session["UsrName"] 
        </div>
      
<a class="btn btn-primary" href="/Home/logout">Log out</a>

 
}
else
{
    <ul>
      
        <li>@Html.ActionLink("Log in", "Login", "Home", new { @class = "btn btn-primary" })</li>
    </ul>
}
