
@{
    <script src="~/Scripts/fileUpload.js"></script>
    ViewBag.Title = "upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>upload</h2>

@using (Html.BeginForm("FileUpload", "Rate", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary();
    <ol>
        <li class="lifile">
            <input type="file" id="fileToUpload" name="file" />
            <span class="field-validation-error" id="spanfile"></span>
        </li>
    </ol>
    <input type="submit" id="btnSubmit" value="Upload" />
}