@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Pleasant Estates<br />
    Ashtabula, Rhode Island 6565<br />
    <abbr title="Phone">P:</abbr>
    (401) 005-1670
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@tmbf.com">Support@tmbf.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@tmbf.com">Marketing@tmbf.com</a>
</address>