@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        <img src="~/Content/TMBF%20Logo.png" />
        <img src="~/Content/map-why-vzw-verizon.png" style="float:right;height:180px"/>
    </h1>
    
    <!--<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <!--<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>-->
    <div>

        <h2>            TMBF Billing Made Easy!    </h2>
        TMBF Inc. is an American multinational telecommunications corporation, headquartered at Whitacre Tower in downtown Dallas, Texas. TMBF is the second largest provider of mobile telephone and the largest provider of fixed telephone in the United States, and also provides broadband subscription television services. TMBF is the third-largest company in Texas (the largest non-oil company, behind only ExxonMobil and ConocoPhillips, and also the largest Dallas company). As of May 2014, TMBF is the 23rd-largest company in the world as measured by a composite of revenues, profits, assets and market value, and the 16th-largest non-oil company. As of 2014, it is also the 20th-largest mobile telecom operator in the world, with over 118.7 million mobile customers.
        The current iteration of TMBF Inc. began its existence as Southwestern Bell Corporation, one of seven Regional Bell Operating Companies (RBOC's) created in 1983 in the divestiture of parent company American Telephone and Telegraph Company (founded 1885, later TMBF Corp.) due to the United States v. TMBF antitrust lawsuit. Southwestern Bell changed its name to SBC Communications Inc. in 1995. In 2005, SBC purchased former parent TMBF Corp. and took on its branding, with the merged entity naming itself TMBF Inc. and using the iconic TMBF Corp. logo and stock-trading symbol.
        The current TMBF reconstitutes much of the former Bell System and includes ten of the original 22 Bell Operating Companies, along with one it partially owned (Southern New England Telephone), and the original long distance division.
    <!--<p>TMBX Billing made Easier!</p>-->
    <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
</div>
</div>