USE [master]
GO
/****** Object:  Database [TMBF]    Script Date: 12/1/2014 2:11:41 PM ******/
CREATE DATABASE [TMBF] ON  PRIMARY 
( NAME = N'TMBF', FILENAME = N'C:\Users\devilsh\TMBF.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TMBF_log', FILENAME = N'C:\Users\devilsh\TMBF_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TMBF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TMBF]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/1/2014 2:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Call]    Script Date: 12/1/2014 2:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Call](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CallDate] [datetime] NOT NULL,
	[CallTime] [int] NOT NULL,
	[Duration] [int] NOT NULL,
	[ReceiverNo] [nvarchar](max) NULL,
	[CustomerID] [bigint] NOT NULL,
	[DestinationCountry_ID] [int] NULL,
	[SourceCountry_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Call] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Country]    Script Date: 12/1/2014 2:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Country] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 12/1/2014 2:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [bigint] NOT NULL,
	[StreetAddress] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[ZipCode] [int] NOT NULL,
	[CommisionForSalesRep] [float] NOT NULL,
	[PhoneNo] [nvarchar](max) NULL,
	[CountryID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[SalesRepID] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SalesRep]    Script Date: 12/1/2014 2:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesRep](
	[ID] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.SalesRep] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Service]    Script Date: 12/1/2014 2:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[PeekRate] [float] NOT NULL,
	[OffPeekRate] [float] NOT NULL,
	[RateEffectiveDate] [datetime] NOT NULL,
	[RateEndDate] [datetime] NOT NULL,
	[DestinationCountry_ID] [int] NULL,
	[SourceCountry_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Service] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 12/1/2014 2:11:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [bigint] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[role] [int] NOT NULL,
	[Discriminator] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Call] ON 

INSERT [dbo].[Call] ([ID], [CallDate], [CallTime], [Duration], [ReceiverNo], [CustomerID], [DestinationCountry_ID], [SourceCountry_ID]) VALUES (1, CAST(0x00009E0B00000000 AS DateTime), 2211, 30, N'7421234599', 6421234599, 1, 123)
INSERT [dbo].[Call] ([ID], [CallDate], [CallTime], [Duration], [ReceiverNo], [CustomerID], [DestinationCountry_ID], [SourceCountry_ID]) VALUES (2, CAST(0x00009CFA00000000 AS DateTime), 2211, 30, N'7421234599', 6421234599, 1, 123)
INSERT [dbo].[Call] ([ID], [CallDate], [CallTime], [Duration], [ReceiverNo], [CustomerID], [DestinationCountry_ID], [SourceCountry_ID]) VALUES (3, CAST(0x00009E2A00000000 AS DateTime), 2211, 30, N'7421234599', 6421234579, 1, 123)
GO
SET IDENTITY_INSERT [dbo].[Call] OFF
INSERT [dbo].[Country] ([ID], [Name]) VALUES (1, N'USA')
INSERT [dbo].[Country] ([ID], [Name]) VALUES (2, N'Canada')
INSERT [dbo].[Country] ([ID], [Name]) VALUES (123, N'Tanzania')
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([ID], [Name], [PeekRate], [OffPeekRate], [RateEffectiveDate], [RateEndDate], [DestinationCountry_ID], [SourceCountry_ID]) VALUES (1, N'Spectra', 5, 2.5, CAST(0x0000A40100000000 AS DateTime), CAST(0x0000A41E00000000 AS DateTime), 2, 1)
INSERT [dbo].[Service] ([ID], [Name], [PeekRate], [OffPeekRate], [RateEffectiveDate], [RateEndDate], [DestinationCountry_ID], [SourceCountry_ID]) VALUES (195, N'Spectra', 0.12999999523162842, 0.11999999731779099, CAST(0x0000A22C00000000 AS DateTime), CAST(0x000636CD00000000 AS DateTime), 1, 1)
INSERT [dbo].[Service] ([ID], [Name], [PeekRate], [OffPeekRate], [RateEffectiveDate], [RateEndDate], [DestinationCountry_ID], [SourceCountry_ID]) VALUES (400, N'Deluxe', 0.12999999523162842, 0.079999998211860657, CAST(0x0000A22C00000000 AS DateTime), CAST(0x000636CD00000000 AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Service] OFF
INSERT [dbo].[User] ([ID], [UserName], [FirstName], [LastName], [Password], [role], [Discriminator]) VALUES (0, N'Admin', N'Nohn', N'Hoe', N'123', 0, N'(Undefined)')
INSERT [dbo].[User] ([ID], [UserName], [FirstName], [LastName], [Password], [role], [Discriminator]) VALUES (1, N'SalesRep', N'Kohn', N'Eoe', N'123', 2, N'(Undefined)')
INSERT [dbo].[User] ([ID], [UserName], [FirstName], [LastName], [Password], [role], [Discriminator]) VALUES (6421234509, N'kmkm', N'Nohn', N'Hoe', N'123', 0, N'(Undefined)')
/****** Object:  Index [IX_CustomerID]    Script Date: 12/1/2014 2:11:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerID] ON [dbo].[Call]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DestinationCountry_ID]    Script Date: 12/1/2014 2:11:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_DestinationCountry_ID] ON [dbo].[Call]
(
	[DestinationCountry_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SourceCountry_ID]    Script Date: 12/1/2014 2:11:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_SourceCountry_ID] ON [dbo].[Call]
(
	[SourceCountry_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryID]    Script Date: 12/1/2014 2:11:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_CountryID] ON [dbo].[Customer]
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ID]    Script Date: 12/1/2014 2:11:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_ID] ON [dbo].[Customer]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalesRepID]    Script Date: 12/1/2014 2:11:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_SalesRepID] ON [dbo].[Customer]
(
	[SalesRepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceID]    Script Date: 12/1/2014 2:11:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceID] ON [dbo].[Customer]
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ID]    Script Date: 12/1/2014 2:11:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_ID] ON [dbo].[SalesRep]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DestinationCountry_ID]    Script Date: 12/1/2014 2:11:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_DestinationCountry_ID] ON [dbo].[Service]
(
	[DestinationCountry_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SourceCountry_ID]    Script Date: 12/1/2014 2:11:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_SourceCountry_ID] ON [dbo].[Service]
(
	[SourceCountry_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Customer_dbo.Country_CountryID] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_dbo.Customer_dbo.Country_CountryID]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Customer_dbo.SalesRep_SalesRepID] FOREIGN KEY([SalesRepID])
REFERENCES [dbo].[SalesRep] ([ID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_dbo.Customer_dbo.SalesRep_SalesRepID]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Customer_dbo.Service_ServiceID] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_dbo.Customer_dbo.Service_ServiceID]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Customer_dbo.User_ID] FOREIGN KEY([ID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_dbo.Customer_dbo.User_ID]
GO
ALTER TABLE [dbo].[SalesRep]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalesRep_dbo.User_ID] FOREIGN KEY([ID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[SalesRep] CHECK CONSTRAINT [FK_dbo.SalesRep_dbo.User_ID]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Service_dbo.Country_DestinationCountry_ID] FOREIGN KEY([DestinationCountry_ID])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_dbo.Service_dbo.Country_DestinationCountry_ID]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Service_dbo.Country_SourceCountry_ID] FOREIGN KEY([SourceCountry_ID])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_dbo.Service_dbo.Country_SourceCountry_ID]
GO
USE [master]
GO
