@model TMBF.Models.Country

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Country</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Country
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
